.travelopia-table {

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    &__column {

        &--sticky {
            position: sticky !important;
            left: 0;
            z-index: 1;
        }

        &.alignleft {
            text-align: left;
        }
    
        &.aligncenter {
            text-align: center;
        }
    
        &.alignright {
            text-align: right;
        }
    }

    &__row-container {

        &--sticky {

            tr th {
                position: sticky !important;
                top: 0;
                z-index: 1;
            }
        }
    }
}
