.travelopia-table {

	&__placeholder-input {
		width: 8px * 14;

		input {
			height: 36px;
		}
	}

	&__placeholder-form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			align-items: flex-end;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	&__column {

		&.alignleft {

			figure {
				display: flex;
				justify-content: flex-start;
			}
		}

		&.aligncenter {
			
			figure {
				display: flex;
				justify-content: center;
			}
		}

		&.alignright {

			figure {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}
